.Tong{
    background-color: #d4eebe;
    width: full;
    padding: 2em ;
    height: 30em;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    margin-left: 3em;
    color: black;
    padding-top: 2em;
}

.Logo{
    width: 12em;
    height: 12em;
    margin-right: 5em;
    margin-left: 2em ;
    display: inline-block;
    margin-top: 2em;
}

.Font{
    display: inline;
    margin-right: 6em;
    margin-left: 2em;
    margin-top: 2em;
}

.Tong3{
    width: 25em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 1.5em;
    height: 13em;
}

.img{
    width: 25em;
    height: 13em;
}

.footer h1{
    font-size: 2em;
    text-align: center;
}

/* .footer p{
    font-size: 3em;
    text-align: justify;
} */

.contact{
    font-size: 2.2em;
    color: black;
}

.GT1{
    width: 25%;
}


@media screen and (max-width : 950px) {

    .Tong{
        background-color: #d4eebe;
        width: 49em;
        padding: 0.5em ;
        height: 30em;
    }

    .contact{
        font-size: 1.7em;
        color: black;
        margin-right: 4em;
        margin-left: 1em;
        margin-top: 1.5em;
    }

    .Tong3{
        width: 27em;
        height: 15em;
        margin-right: 72.8em;
    }

    .img{
        width: 20em;
        height: 10em;
    }

    .Logo{
        width: 22em;
        height: 8em;
        margin-left: 75em;
        margin-top: 2em;
    }

    .footer{
        margin-right: 70px;
        margin-left: 50px;
        color: black;
        padding-top: 20px;
        justify-content: space-between;
    }

    .Font{
        display: inline;
        margin-right: -50px;
        margin-top: 0px;
        margin-left: -50px;
    }

    .contacticon{
        margin-left: 1em;
    }

    .GT1{
        margin-right: 3em;
    }

    .GT2{
        margin-right: 2em;
        
    }

    .GT3{
        margin-right: 2em;
    }

    .TD{
        font-size: 1em;
    }
}

