.container {
  max-width: 500px;
  margin: 100px auto;
  border: 1px solid ;
  height: 300px;  
  background: linear-gradient(130deg, #f9ceae, #d4eebe);
}

body{
  background: linear-gradient(115deg, #9ee5c7, #f7fbc0);
}
