.body{
    background-color: #FFCCCC;
}

/* .NB{
    font-size: 1em;
    color: black;  
    position:relative;
} */

.menu{
    font-family:'Brush Script MT';
    font-size: 5em;
    text-transform: capitalize;
    margin-top: 5%;
    display: inline-flex;
      
}

.icon1{
    font-family:'Brush Script MT';
    font-size: 4em;
    margin-left: 24%;
    margin-top: 5%;
    display: inline;
}

.icon2{
    font-family:'Brush Script MT';
    font-size: 4em;
    margin-top: 5%;
    display: inline;
}

.page-item{
    width: 100%; 
    font-family:'Brush Script MT';
    font-size: 1.8em; 
    text-align: center;
}

.page-link{
    color: black;
}

.Logo1{
    width: 7%;
    margin-left: 2%;
}

.nav-item{
    margin-left: 2em;
}

@media screen and (max-width : 950px) {

    .body{
        width: 49em;
    }

    .page-link{
        color: black;
    }

    .page-item{
        font-size: 1.5em;
    }

    .menu{
        font-size: 3em;
    }

    .icon1{
        font-size: 3em;
        margin-left: 28%;
    }

    .icon2{
        font-size: 3em;
    }

    .navbar-brand{
        margin-right: 70%;
    }

    .Logo1{
        width: 15%;
        margin-left: 2%;
    }

    .nav-item{
        margin-top: 3%;
        font-size: 1.5em;
    }

    .navbar-toggler{
        width: 3.5em;
        height: 3.5em;
        margin-left: 1em;
    }

    .navbar-toggler-icon{
        width: 2em;
        height: 2em;
    }

    .cart-shopping{
       padding-top: 0.8em;
    }
}

.LK{
    margin-top: 2em;
    color: black;
    margin-left: 2em;
    font-size: 3em;
}

.foodimg{
    width: 18em; 
    height: 18em;
}

.foodname{
    font-size: 1.5em;
    margin-left: 0.5em;
}

.foodprice{
    font-size: 1.5em;
    margin-left: 0.5em;
}

.food{
    border: 0.1em solid black;
    border-radius: 1em;
    background-color: white;
    width: 18.5em;
    height: 28em;
    margin-left: 2.5em;
    margin-top: 2em;
     
}

.buygoods{
    margin-left: 5em;
    width: 8em;
    height: 2.3em;
}

.buygoods:hover{
    background-color: red;
}

.foodtong{
    display: flex;
    margin-left: 0.2em; 
   
}

.foodtong1{
    display: flex;
    margin-left: 0.2em;
    
}

.foodtong2{
    display:flex;
    
}

@media screen and (max-width : 950px){
    .foodtong2{
        display: block;
    }


}