body{
    height: 100%;
    background: linear-gradient(to right, #0f9ebb, #32f5f8);
    display: flex;
    background-image: url("/Picture/image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.a1{
    margin-top: 100px;
    margin-left: 10px;
}

.a2{
    color:rgb(255, 224, 20);
    font-size: 100px;
    font-family:'Geologica', sans-serif;
}

.a4{
    color:rgb(4, 44, 79);
    font-size: 30px;
    width: 450px;
}

.btn-hover {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.a3{
    width: 200px;
    border-radius: 20px;
}